@model ProductDetailViewModel
@{
    ViewData["Title"] = "Product Details";
}

<div class="col-lg-9">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
        <div class="card-body">
            <h3 class="card-title">@Model.Product.Name</h3>
            <h4>@Model.Product.ListPrice.ToString("C")</h4>
            <p class="card-text">Model: @Model.Product.ProductModel.Name</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            4.0 stars
        </div>
    </div>
    <!-- /.card -->

    <div class="card card-outline-secondary my-4">
        <div class="card-header">
            Product Reviews
        </div>
        <div class="card-body">
            @if (Model.ProductReviews != null && Model.ProductReviews.Any())
            {
                @foreach (var review in Model.ProductReviews)
                {
                    <p>@review.Comments</p>
                    <small class="text-muted">Posted by @review.ReviewerName on @review.ReviewDate.ToShortDateString()</small>
                    <hr>
                    @*<span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                    <span>4.0 stars</span>*@
                    @Html.ReviewStars(review.Rating);
                }
            }
            else
            {
                <h4>No reviews yet.</h4>
            }

            <a href="#" class="btn btn-success">Leave a Review</a>
        </div>
    </div>
    <!-- /.card -->

</div>
<!-- /.col-lg-9 -->
