@model ProductIndexViewModel
@{
    ViewData["Title"] = "Products";
}

<div class="col-lg-9">

    <div class="row">
        <div class="col-12">
            <h2>Products</h2>
        </div>
        @if (Model.Products != null && Model.Products.Any())
        {

            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a asp-action="Details" asp-controller="Products" asp-route-id="@product.ProductId">
                                <img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a asp-action="Details" asp-controller="Products" asp-route-id="@product.ProductId">@product.Name</a>
                                </h4>
                                <h5>@product.ListPrice.ToString("c")</h5>
                                <p class="card-text">Model: @product.ProductModel.Name</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                <small class="float-right">
                                    <a href="#">Add To Cart</a>
                                </small>
                            </div>
                        </div>
                    </div>
                }
            </div>


            <div class="row pt-3">
                <div class="col-md-12">
                    @if (Model.Pagination.TotalPages > 0)
                    {
                        
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" asp-ation="Index" asp-route-page="1">First Page</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" asp-ation="Index" asp-route-page="@Model.Pagination.PrevPage">Prev</a>
                                    </li>



                                    <li class="page-item">
                                        <a class="page-link" asp-ation="Index" asp-route-page="@Model.Pagination.NextPage">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" asp-ation="Index" asp-route-page="@Model.Pagination.LastPage">Last Page</a>
                                    </li>
                                </ul>
                            </nav>
                        
                    }
                </div>
            </div>
        }
        else
        {
            <h2>No products to show. Please check back!</h2>
        }



    </div>
    <!-- /.row -->

</div>
<!-- /.col-lg-9 -->